{% if latest_exchangerate_list %}
    <ul>
    <a>last 5 USD Exchange Rate</a>
    {% for rate in latest_exchangerate_list %}
        <li><a href="/calculator/{{rate_date }}/">{{ rate.rate_date }}</a></li>
        <li><a href="/calculator/{{rate_date }}/">{{ rate.er_INR }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No rates are available.</p>
{% endif %}